{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "root": true,
  "extends": ["airbnb", "plugin:jest/recommended", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["jest", "prettier", "react-hooks"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/tests/*.js", "**/*.test.js", "**/*.test.jsx"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
